.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid black;
    transition: transform 0.5s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}
